.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Tarjeta de login centrada */
.login-card {
  background-color: #121212; /* caja negra oscuro */
  padding: 50px 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 10px 40px rgba(212, 174, 64, 0.5); /* sombra dorada */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.login-card:hover {
  transform: translateY(-5px);
}

/* Logo / título */
.logo h1 {
  color: #D4AE40; /* dorado */
  margin-bottom: 30px;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Inputs */
.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #D4AE40;
  background: #000000;
  color: #D4AE40;
  font-size: 1em;
  transition: all 0.3s;
}

.input-group input::placeholder {
  color: #D4AE40;
  opacity: 0.6;
}

.input-group input:focus {
  outline: none;
  border-color: #b38b2e; /* dorado más oscuro al focus */
  box-shadow: 0 0 10px rgba(212, 174, 64, 0.5);
}

/* Botón */
button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background-color: #D4AE40;
  color: #000000;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #b38b2e;
  transform: scale(1.05);
}
