body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  background: linear-gradient(135deg, #000000 0%, #1a1a1a 100%);
  font-family: 'Helvetica Neue', sans-serif;
}